Source: haskell-unicode-transforms
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Ilias Tsitsimpis <iliastsi@debian.org>
Priority: optional
Section: haskell
Rules-Requires-Root: no
Build-Depends: debhelper (>= 10),
 haskell-devscripts-minimal | haskell-devscripts (>= 0.9),
 cdbs,
 ghc (>= 8.4.3),
 ghc-prof,
 libghc-hspec-dev (>= 2.0),
 libghc-hspec-dev (<< 3),
 libghc-hspec-prof,
 libghc-quickcheck2-dev (>= 2.1),
 libghc-quickcheck2-dev (<< 2.15),
 libghc-quickcheck2-prof,
 libghc-split-dev (>= 0.2),
 libghc-split-dev (<< 0.3),
 libghc-split-prof,
 libghc-unicode-data-dev (>= 0.2),
 libghc-unicode-data-dev (<< 0.4),
 libghc-unicode-data-prof,
Build-Depends-Indep: ghc-doc,
 libghc-unicode-data-doc,
Standards-Version: 4.6.1
Homepage: https://github.com/composewell/unicode-transforms
Vcs-Browser: https://salsa.debian.org/haskell-team/DHG_packages/tree/master/p/haskell-unicode-transforms
Vcs-Git: https://salsa.debian.org/haskell-team/DHG_packages.git [p/haskell-unicode-transforms]
X-Description: Fast Unicode 9.0 normalization in Haskell
 Unicode characters with adornments (e.g. Á) can be represented in two
 different forms, as a single composed character (U+00C1 = Á) or as
 multiple decomposed characters (U+0041(A) U+0301( ́ ) = Á). They are
 differently encoded byte sequences but for humans they have exactly
 the same visual appearance.
 .
 A regular byte comparison may tell that two strings are different even
 though they might be equivalent. Both strings need to be converted in
 a normalized form using the Unicode Character Database before they can
 be compared for equivalence.
 .
 This library implements fast Unicode 9.0 normalization in Haskell (NFC,
 NFKC, NFD, NFKD).

Package: libghc-unicode-transforms-dev
Architecture: any
Depends: ${haskell:Depends},
 ${misc:Depends},
 ${shlibs:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Conflicts: ${haskell:Conflicts},
Provides: ${haskell:Provides},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: libghc-unicode-transforms-prof
Architecture: any
Depends: ${haskell:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Conflicts: ${haskell:Conflicts},
Provides: ${haskell:Provides},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: libghc-unicode-transforms-doc
Architecture: all
Section: doc
Depends: ${haskell:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Conflicts: ${haskell:Conflicts},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}
